In [2]:
import sqlite3

connection = sqlite3.connect('sample.db')
cursor = connection.cursor()

In [6]:
query = 'SELECT * FROM People LIMIT 10'

for row in cursor.execute(query):
    print(row)

(1, 'Madeline', 'Nichols')
(2, 'Matthew', 'Conner')
(3, 'Jessica', 'Payne')
(4, 'Felicia', 'Morris')
(5, 'Anita', 'Le')
(6, 'Jonathan', 'Davis')
(7, 'John', 'Rangel')
(8, 'Courtney', 'Stone')
(9, 'Kenneth', 'Mclaughlin')
(10, 'Justin', 'Mayo')

In [7]:
# order by the first name asc
query = 'SELECT * FROM People ORDER BY name'
for row in cursor.execute(query):
    print(row)

(57, 'Aaron', 'Hardy')
(35, 'Alexis', 'Scott')
(50, 'Amy', 'Lopez')
(80, 'Amy', 'Mason')
(82, 'Amy', 'Cameron')
(31, 'Ana', 'Castro')
(63, 'Andrew', 'Nguyen')
(66, 'Andrew', 'Cunningham')
(42, 'Angela', 'Adams')
(5, 'Anita', 'Le')
(29, 'Austin', 'Fischer')
(56, 'Billy', 'Richards')
(79, 'Brandon', 'Ware')
(22, 'Brenda', 'Goodwin')
(44, 'Caroline', 'Jackson')
(88, 'Casey', 'Thompson')
(40, 'Chase', 'Campbell')
(58, 'Chelsey', 'Nash')
(30, 'Cheryl', 'Evans')
(71, 'Christine', 'Richardson')
(96, 'Christine', 'Cabrera')
(26, 'Cindy', 'Smith')
(43, 'Cindy', 'Tate')
(76, 'Cody', 'Clark')
(8, 'Courtney', 'Stone')
(33, 'Derek', 'Pierce')
(54, 'Derrick', 'Parker')
(16, 'Diana', 'Wang')
(86, 'Diane', 'Schwartz')
(47, 'Dorothy', 'Richard')
(70, 'Dustin', 'Gill')
(68, 'Edward', 'Scott')
(32, 'Elaine', 'Howe')
(45, 'Elizabeth', 'Beck')
(75, 'Emma', 'Edwards')
(4, 'Felicia', 'Morris')
(48, 'Gabriel', 'Cox')
(78, 'Garrett', 'Rodgers')
(25, 'Haley', 'Martin')
(38, 'Jaclyn', 'Walter')
(15, 'Jacqueline', 'Tran')
(27, 'Janet', 'Lucas')
(95, 'Jay', 'Brown')
(52, 'Jeremy', 'Holland')
(3, 'Jessica', 'Payne')
(85, 'Jo', 'Cain')
(55, 'Jodi', 'Bridges')
(7, 'John', 'Rangel')
(28, 'John', 'Martinez')
(6, 'Jonathan', 'Davis')
(41, 'Jose', 'Williams')
(12, 'Joseph', 'Smith')
(73, 'Joseph', 'Edwards')
(61, 'Julia', 'Smith')
(83, 'Julie', 'Greene')
(10, 'Justin', 'Mayo')
(19, 'Justin', 'Wade')
(9, 'Kenneth', 'Mclaughlin')
(69, 'Kevin', 'Dean')
(18, 'Kim', 'Martinez')
(1, 'Madeline', 'Nichols')
(13, 'Maria', 'Mccall')
(53, 'Mark', 'Davis')
(2, 'Matthew', 'Conner')
(14, 'Matthew', 'Smith')
(72, 'Matthew', 'Cooper')
(24, 'Megan', 'Rose')
(51, 'Michael', 'Douglas')
(77, 'Michael', 'Davis')
(36, 'Michelle', 'Castro')
(74, 'Monica', 'Moore')
(11, 'Morgan', 'Fisher')
(17, 'Ray', 'Hernandez')
(87, 'Robert', 'Mcgee')
(46, 'Ronald', 'Aguilar')
(81, 'Ryan', 'Grimes')
(49, 'Sara', 'Stephenson')
(21, 'Scott', 'Cruz')
(65, 'Sean', 'Meyers')
(20, 'Shane', 'Black')
(84, 'Sharon', 'Parker')
(93, 'Spencer', 'Dickson')
(91, 'Stacey', 'Price')
(89, 'Stephanie', 'Harris')
(64, 'Tammy', 'Morse')
(62, 'Taylor', 'Moore')
(59, 'Terry', 'Macdonald')
(90, 'Terry', 'Bradley')
(67, 'Timothy', 'Williams')
(23, 'Tina', 'Sandoval')
(37, 'Tony', 'Wolfe')
(34, 'Travis', 'Lewis')
(39, 'Wayne', 'Williams')
(60, 'Wayne', 'Barnes')
(92, 'Whitney', 'Ochoa')
(94, 'William', 'Taylor')

In [9]:
# get the names that start with B
query = 'SELECT * FROM People WHERE name LIKE "B%"'
for row in cursor.execute(query):
    print(row)

(22, 'Brenda', 'Goodwin')
(56, 'Billy', 'Richards')
(79, 'Brandon', 'Ware')

In [14]:
query = 'SELECT * FROM People WHERE name LIKE "An%"'
for row in cursor.execute(query):
    print(row)

(5, 'Anita', 'Le')
(31, 'Ana', 'Castro')
(42, 'Angela', 'Adams')
(63, 'Andrew', 'Nguyen')
(66, 'Andrew', 'Cunningham')